.valkyrieContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.valkyrieCard {
  align-items: center;
  background-color: rgb(240, 240, 240);
  border-radius: 8px;
  box-shadow: 1px 1px black;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  width: 180px;
  margin: 0 auto;
}

.images {
  position: relative;
}

.natureImg {
  position: absolute;
  bottom: -10px;
  right: -10px;
}

.valkyrieName {
  text-align: center;
}

.rankInfo {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: auto;
}

.battlesuitRank {
  align-items: center;
  display: flex;
  justify-content: center;
}

.battlesuitRank .value {
  background-color: aquamarine;
  border-radius: 0 4px 4px 8px;
  box-shadow: 1px 1px black;
  font-weight: 600;
  padding-left: 1.5rem;
  padding-right: 0.4rem;
  margin-left: -1.3rem;
}

@media (prefers-color-scheme: dark) {
  .valkyrieCard {
    background-color: rgb(40, 40, 40);
    box-shadow: 1px 1px white;
  }

  .battlesuitRank .value {
    background-color: dodgerblue;
    box-shadow: 1px 1px white;
  }
}
